.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game__playing {
  color: #001514;
  font-weight: bolder;
  padding: 5px;
}

.game__over {
  color: #744253;
  font-size: 2rem;
  font-weight: bolder;
}

.game__restart {
  background: linear-gradient(10deg, #0e9594 15%, #127475 75%, #0e9594 90%);
  border: none;
  color: #f5dfbb;
  font-size: 1rem;
  font-variant: small-caps;
  margin-bottom: 20px;
  padding: 10px 20px;
  width: 165px;
}

.game__restart:hover {
  background: linear-gradient(49deg, #127475 2%, #0e9594 75%, #127475 90%);
  box-shadow: 1px 1px 4px #127475;
  font-weight: bolder;
}
