.board__grid {
  border: 2px solid hotpink;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  margin: 0 auto
  justify-content: center;
  width: 500px;
}

.board__item {
  background: plum;
  height: 150px;
  width: 150px;
}
